<div class="flex flex-col">
  <%= link_to 'â† Back', entries_path, class: 'text-sm text-blue-300' %>
</div>

<div class="heading"><%= params[:id] %></div>

<div class="tile">
  <%= horizontal_form_with model: @entry, method: :patch do |form| %>
    <%= form.number_field :weight %>
    <%= form.check_box :complete %>
    <div class="actions">
      <%= form.submit 'Save' %>
    </div>
  <% end %>
</div>

<div class="heading">Meals</div>

<div class="tile">
  <%= render 'entry_meals/create', entry_meal: EntryMeal.new(entry: @entry) %>
</div>

<div class="tile">
  <div class="flex flex-col gap-3 md:grid md:grid-cols-[1fr_auto_auto] md:gap-3 md:items-center">
    <%= turbo_frame_tag :entry_meals do %>
      <%= render partial: 'entry_meals/entry_meal', collection: @entry.meals.order(id: :asc) %>
    <% end %>
  </div>
</div>
