<%# locals: (recipe:) %>
<%= turbo_frame_tag :recipe_ingredients do %>
  <div class="prose max-w-none">
    <div class="flex items-center">
      <div class="font-bold text-2xl grow">Ingredients</div>
      <%= button_to 'Change ingredients', edit_ingredients_recipe_path(recipe), method: :get, class: 'btn-primary' %>
    </div>

    <ul>
      <% recipe.ingredients.each do |ingredient| %>
        <li><%= ingredient.quantity %><%= ingredient.product.unit %> <%= ingredient.product.name %></li>
      <% end %>
    </ul>
  </div>
<% end %>
