<div class="flex gap-3">
  <h1 class="font-bold text-4xl flex-1"><%= @recipe.name %></h1>
  <%= button_to 'Cook!', cook_recipe_path(@recipe), method: :post, class: 'btn-primary' %>
  <%= link_to 'Edit recipe', edit_recipe_path(@recipe), class: 'btn-primary' %>
</div>

<% if @recipe.source_url.present? %>
  <%= link_to "Source (#{@recipe.source_domain})", @recipe.source_url, class: 'text-sm text-blue-400' %>
<% end %>

<div class="prose max-w-none">
  <div class="flex items-center">
    <div class="font-bold text-2xl grow">Ingredients</div>
  </div>

  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient.quantity %><%= ingredient.product.unit %> <%= ingredient.product.name %></li>
    <% end %>
  </ul>
</div>

<div class="prose max-w-none">
  <%= markdown @recipe.instructions %>
</div>
