<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= product.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Calories:</strong>
    <%= product.calories %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Unit:</strong>
    <%= product.unit %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Units per kcal:</strong>
    <%= product.units_per_kcal %>
  </p>

</div>
