<%= turbo_frame_tag product do %>
  <div class="contents">
    <div><%= product.name %></div>
    <div class="min-w-20 text-right"><%= product.calories %> <span class="units">kcal</span></div>
    <div class="min-w-20 text-right"><%= product.units_per_kcal %> <span class="units"><%= product.unit %></span></div>
    <div class="flex gap-2">
      <% disabled = product.ingredients.size > 0 %>
      <%= button_to "Edit", edit_product_path(product), method: :get, class: 'btn-primary' %>
      <%= button_to "Delete", product_path(product), disabled:, method: :delete, class: 'btn-danger', data: {turbo_confirm: 'Are you sure?'} %>
    </div>
  </div>
<% end %>
