<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Chronicle" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/views/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-100">
    <% if Current.user %>
      <nav class="bg-indigo-600">
        <div class="max-w-screen-lg mx-auto px-5 flex gap-7">
          <% [
            ['Log', entries_path],
            ['Recipes', recipes_path],
            ['Products', products_path],
            ['Cooking History', cooked_meals_path]
          ].each do |name, path| %>
            <div class="text-white text-lg my-3"><%= link_to name, path, class: 'cursor-pointer' %></div>
          <% end %>
          <div class="flex-grow"></div>
          <div class="text-white text-xs pt-2.5">
            <%= Current.user.email_address %><br>
            Logout
          </div>
        </div>
      </nav>
    <% end %>
    <main class="max-w-screen-lg mx-auto mt-10 md:px-5 font-large flex pb-20">
      <div class="w-full flex flex-col gap-4">
        <% if notice.present? %>
          <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
